# Test suite requirements.
coverage >= 4.2
pytest >= 3.0.4
pytest-cov >= 2.4.0

# The following packages are part of the setup_requires of transitive
# requirements like pytest, unfortunately when they're installed automatically
# (nested inside the main "pip install" run) the nested pip commands try to
# install via wheels, which is broken on PyPy. By lifting these dependencies to
# the top level our --no-binary=:all: choice should hopefully be respected.
pytest-runner
setuptools-scm
