# Direct dependencies of py2deb.
coloredlogs >= 0.5
deb-pkg-tools >= 1.18.2
executor >= 1.2
humanfriendly >= 1.8.1
pip-accel >= 0.12.5
python-debian >= 0.1.21-nmu2

# Transitive undocumented dependency of `python-debian'.
chardet
