# Direct dependencies of py2deb.
coloredlogs >= 0.4.6
humanfriendly >= 1.5
pip-accel >= 0.11
deb-pkg-tools >= 1.9.9
# Provides the debian.deb822 module. A direct dependency of py2deb.
# Ideally we should be able to use the version provided by the
# upstream Ubuntu package, but I failed to get this working. The
# problem seems to be that the Ubuntu package has version "0.1.21ubuntu1"
# which the constraints "python-debian >= 0.1.21, < 0.1.22" don't match;
# I keep getting the following runtime error message:
#
#   pkg_resources.DistributionNotFound: python-debian>=0.1.21,<0.1.22
#
# A logical OR in the constraints would solve this but apparently the
# Python requirement specifications don't support that. See
# http://www.python.org/dev/peps/pep-0440/. For now I've removed the
# version constraints, which solves the problem but is not cool.
python-debian
# Transitive undocumented dependency of `python-debian'.
chardet
